In [37]:
!pip install sqlalchemy
!conda install -y -q pymssql

Requirement already satisfied: sqlalchemy in c:\users\mbushe holdings\anaconda3\lib\site-packages (1.3.5)
Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working...
The environment is inconsistent, please check the package plan carefully
The following packages are causing the inconsistency:

  - defaults/win-64::anaconda==2019.07=py37_0
  - defaults/win-64::numba==0.44.1=py37hf9181ef_0
done

## Package Plan ##

  environment location: C:\Users\Mbushe Holdings\Anaconda3

  added / updated specs:
    - pymssql


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    ca-certificates-2019.11.27 |                0         124 KB
    ------------------------------------------------------------
                                           Total:         124 KB

The following NEW packages will be INSTALLED:

  _anaconda_depends  pkgs/main/win-64::_anaconda_depends-2019.03-py37_0
  tbb                pkgs/main/win-64::tbb-2019.4-h74a9793_0

The following packages will be UPDATED:

  ca-certificates                               2019.5.15-0 --> 2019.11.27-0
  certifi                                  2019.6.16-py37_0 --> 2019.11.28-py37_0

The following packages will be DOWNGRADED:

  anaconda                                   2019.07-py37_0 --> custom-py37_1


Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

In [2]:
import sqlalchemy as sa
import pandas as pd
from sqlalchemy import create_engine

In [29]:
Username = 'admin'
Password = 'amazing_people'
Host = 'alphacode-explore.ccwgqdqrrmvt.eu-west-1.rds.amazonaws.com'
Port = "1433"
Database ='Makabongwe'

In [30]:
connection = create_engine(
    'mssql+pymssql://' +
    Username + ':' + Password + '@' + Host + ':' + Port + '/' + Database, pool_pre_ping=True
)

In [37]:
sql_query = "Select * from football_players"

In [38]:
connection

Engine(mssql+pymssql://admin:***@alphacode-explore.ccwgqdqrrmvt.eu-west-1.rds.amazonaws.com:1433/Makabongwe)

In [39]:
df = pd.read_sql_query(sql_query, connection)

In [40]:
df.head()

,Name,Age,Nationality,Overall,Acceleration,Aggression,Agility,Balance,Ball control,Composure,...,Short passing,Shot power,Sliding tackle,Sprint speed,Stamina,Standing tackle,Strength,Vision,Volleys,Preferred Positions
0,A. BaliÄ,19.0,Croatia,69.0,64.0,45.0,68.0,67.0,76.0,60.0,...,75.0,62.0,51.0,50.0,67.0,47.0,52.0,67.0,62.0,None
1,R. Erramuspe,27.0,Argentina,69.0,46.0,65.0,43.0,44.0,49.0,56.0,...,48.0,46.0,69.0,55.0,63.0,73.0,80.0,32.0,36.0,None
2,J. Hobbs,28.0,England,69.0,53.0,70.0,41.0,47.0,59.0,68.0,...,61.0,53.0,66.0,52.0,65.0,68.0,83.0,55.0,48.0,None
3,J. Lowe,25.0,England,69.0,65.0,79.0,59.0,66.0,61.0,63.0,...,69.0,63.0,68.0,65.0,77.0,64.0,63.0,54.0,53.0,None
4,M. Abero,27.0,Uruguay,69.0,68.0,59.0,66.0,52.0,65.0,61.0,...,55.0,64.0,68.0,75.0,75.0,66.0,88.0,52.0,46.0,None

In [41]:
list_df = [[32, 'Portugal', 94], [30, 'Argentina', 93], [25 , 'Brazil', 92]]

In [42]:
index = ['Christiano Ronaldo', 'Lionel Messi', 'Neymar']

In [43]:
columns = ['Age', 'Nationality', 'Overall']

In [44]:
pd.DataFrame(data=list_df, index=index, columns=columns)

                    Age Nationality  Overall
Christiano Ronaldo   32    Portugal       94
Lionel Messi         30   Argentina       93
Neymar               25      Brazil       92

In [45]:
dict_df = {'Age':[32, 30, 25], 'Nationality':['Portugal', 'Argentina', 'Brazil'], 'Overall':[94, 93, 92]}

In [46]:
index = ['Christiano Ronaldo', 'Lionel Messi', 'Neymar']

In [47]:
pd.DataFrame(data=dict_df, index=index)

                    Age Nationality  Overall
Christiano Ronaldo   32    Portugal       94
Lionel Messi         30   Argentina       93
Neymar               25      Brazil       92

In [48]:
import numpy as np

In [49]:
array_df = np.array([[32, 'Portugal', 94], [30, 'Argentina', 93], [25 , 'Brazil', 92]])

In [50]:
index = ['Christiano Ronaldo', 'Lionel Messi', 'Neymar']

In [51]:
columns = ['Age', 'Nationality', 'Overall']

In [52]:
pd.DataFrame(data=array_df, index=index, columns=columns)

                   Age Nationality Overall
Christiano Ronaldo  32    Portugal      94
Lionel Messi        30   Argentina      93
Neymar              25      Brazil      92

In [55]:
load_df = pd.read_csv('football_players.csv', index_col='Name')

FileNotFoundError: [Errno 2] File b'football_players.csv' does not exist: b'football_players.csv'